<h1 class="text-primary text-center">{{ text | titlecase }}</h1>

<table class="table table-striped">
  <tr class="thead-dark">
    <th>s.no</th>
    <th>id</th>
    <th>name</th>
    <th>city</th>
    <th>salary</th>
    <th>DOB</th>
  </tr>
  <tr *ngFor="let user of users; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ user.id }}</td>
    <td>{{ user.name | uppercase }}</td>
    <td>{{ user.city | lowercase }}</td>
    <td>{{ user.salary | currency : "INR" }}</td>
    <td>{{ user.dob | date : "dd/MM/yyyy" }}</td>
  </tr>
</table>
<pre>
  {{ users | json }}
</pre>
